body {
    font-family: Arial;
}
.result {
    padding: 20px 15px;
    height: 150px;
    box-shadow: 0px 0px 15px #ddd;
    margin-bottom: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.formbox {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}
.formbox__button {
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid rgb(0, 196, 98);
    border-radius: 4px;
    color: rgb(168, 168, 168);
    width: 180px;
}
.formbox__input {
    padding: 8px 16px;
    border-radius: 4px;
    width: 180px;
    border: 1px solid #ddd;
}